.App{
  height: 100vh;
  background: #f8f8f8;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
  font-family: 'Montserrat', sans-serif;
}
.AppComp{
  border: 1px solid #ccc;
}